@charset "UTF-8";
/* COLORES */
/* TIPOGRAFIA */
/* MIXIN PARA  CLASES MODIFICALES */
/*  Reset Inicial */
html {
  font-size: 62.5%;
  box-sizing: border-box; }

*, *:before, *:after {
  padding: 0px;
  margin: 0px;
  box-sizing: inherit; }

/* Estilos generales básicos  */
header {
  height: 100%;
  background-color: #034694;
  font-size: 3rem; }

body {
  font-family: "Bebas Neue", cursive;
  font-size: 1.6rem; }

h1 {
  font-weight: bold;
  font-size: 3rem; }

/*Estilos de Header */
.header__item a {
  position: relative;
  text-decoration: none; }
  .header__item a::after, .header__item a::before {
    transition: all 0.5s; }
  .header__item a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #ffffff;
    height: 3px; }
  .header__item a:hover {
    color: #ffffff; }
  .header__item a:hover:after {
    width: 100%; }

/* Estilos del index  */
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap; }

/* Botones del Carousel */
.carousel .carousel-indicators button {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 5px;
  border-radius: 100%; }

.carousel .carousel-item {
  max-height: 630px; }

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 4rem;
  height: 4rem; }

/* SECCION NOTICIAS DEL INDEX */
.border-bottom-white {
  border-bottom: solid 1px #ffffff; }

.escalar-img {
  overflow: hidden; }
  .escalar-img img {
    transform: scale(1);
    transition: 0.6s ease-in-out; }
  .escalar-img:hover img {
    transform: scale(1.1); }

/* Contenedor de Foto y Noticia (pagina noticias)  */
/* Contenedor de Noticias */
.news-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
  gap: 15px;
  margin: 10px auto;
  padding: 16px; }
  .news-container h1 {
    color: black;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 5px; }

.news-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px; }
  .news-item__img {
    width: 50%;
    height: auto;
    /* MODIFICADOR imagen noticias del index (mas chicos) */ }
    .news-item__img--portada {
      max-width: 300px; }
  .news-item__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1em;
    width: 50%; }
    .news-item__info p {
      text-align: justify; }
    .news-item__info--portada a {
      /* Efectos de link Noticias de Index */
      color: #ffffff;
      background: linear-gradient(to right, currentColor 0%, currentColor 100%);
      background-size: 0px 2px;
      background-position: 0px 95%;
      transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
      background-repeat: no-repeat;
      padding: 0.1% 0px;
      text-decoration: none; }
      .news-item__info--portada a:hover {
        background-size: 100% 2px; }
    .news-item__info--portada h2 {
      color: #ffffff; }
    .news-item__info--portada p {
      text-align: justify;
      font-family: "Oswald", sans-serif; }

.titulares {
  font-weight: 600; }

/* Sobre mi  */
.container-sobremi {
  display: flex;
  flex-direction: row;
  gap: 15px; }

.biografia {
  display: flex;
  flex-direction: row;
  align-self: center;
  height: auto;
  background-color: #034694;
  transition: 2s;
  margin-top: 16px; }
  .biografia__img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    max-width: 420px;
    min-width: 40%;
    padding: 6px;
    background-color: #ffffff;
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%); }
  .biografia__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; }
  .biografia__titulo {
    font-size: 3rem;
    color: #fff; }
  .biografia__info {
    font-family: "Oswald", sans-serif;
    font-size: 1.6rem;
    color: #ffffff; }

.sobre-mi {
  height: auto;
  font-size: 2rem;
  padding: 12px; }
  .sobre-mi__texto {
    color: #034694;
    text-align: justify;
    margin-bottom: 15px; }

.redes-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 15px 0;
  align-items: center; }

/* Galeria de imagenes */
.titulo-galeria {
  text-align: center;
  margin: 7px; }

/* Tarjetas contenedoras de galeria */
.card-galeria {
  border-radius: 5px;
  border: transparent 4px solid; }
  .card-galeria:hover {
    border: #034694 4px solid; }

/* Pagina de contacto  */
.contacto {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* Contenedor de imagen y formulario */
  /* Caja de Formulario */ }
  .contacto__contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    position: relative;
    gap: 10px;
    margin: 30px;
    height: auto; }
    .contacto__contenedor img {
      width: 50%;
      height: 380px;
      border-radius: 25px; }
  .contacto__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    font-size: 1.5em; }

/* FOOTER */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #034694;
  flex-wrap: wrap; }
  footer .logo {
    width: 180px;
    height: 108px; }
  footer .footer__redes {
    width: 30px;
    height: 30px;
    margin: 10px 3px;
    filter: invert(100%); }
  footer .footer__derechos {
    color: white;
    font-size: 2em;
    margin: 0 15px; }
  footer .footer__link {
    text-decoration: none; }

/* MEDIAQUERIE TABLET Y DESKTOP */
@media only screen and (min-width: 576px) and (max-width: 992px) {
  /* Centro las imagenes chicas de noticias */
  .news-item {
    align-items: center; }
  footer {
    flex-direction: column; }
    footer .footer__derechos {
      margin-bottom: 5px; } }

@media only screen and (max-width: 767px) {
  /* Ajuste animacion links de nav pantalla intermedia */
  .header__item a::after {
    display: none; }
  .header__item a:hover:after {
    display: none; }
  .biografia__info {
    font-size: 1.23rem; }
  footer {
    font-size: 1.2rem; } }

@media only screen and (min-width: 319px) and (max-width: 575px) {
  .logo-nav {
    width: 240px;
    height: 144px; }
  /* Cambio a columnas las noticias del index */
  .news-item {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px; }
    .news-item__img {
      width: 100%; }
    .news-item__info {
      width: 100%; }
      .news-item__info--portada h2 {
        text-align: center; }
  /* Modifico Sobre mi a columnas  */
  .container-sobremi {
    flex-direction: column; }
  .biografia {
    flex-direction: column; }
    .biografia__info {
      font-size: 1.23rem; }
    .biografia__img {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      width: 100%;
      max-width: 100%;
      min-width: 100%; }
  .img-cv {
    max-height: 300px; }
  .redes {
    display: flex;
    justify-content: center; }
  /* Contenedor de imagen y formulario */
  .contacto__contenedor {
    flex-direction: column; }
  .contacto img {
    width: 100%;
    height: auto; }
  /* Modifico el footer para SMARTPHONE */
  footer {
    flex-direction: column; }
    footer .footer__derechos {
      margin-bottom: 6px;
      font-size: 1.95rem; }
    footer .footer__social {
      margin-bottom: 6px; } }
