/* COLORES */
$color-principal:  #034694;
$color-secundario : #ffffff;

/* TIPOGRAFIA */
$font-principal : 'Bebas Neue', cursive;
$font-secundaria: 'Oswald', sans-serif;

/* TAMAÑOS DE TITULOS */
$titulo-primario: 3rem;
$titulo-secundario: 2rem;