@import "variables";
@import "operators";

/*  Reset Inicial */

html{
	font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    padding: 0px;
    margin: 0px;
    box-sizing: inherit;
}

 /* Estilos generales básicos  */

header {
    height: 100%;
    background-color: $color-principal;
    font-size: 3rem;

}
body {
    font-family:  $font-principal;
    font-size: 1.6rem;
}

h1 {
    font-weight: bold;
    font-size: 3rem;
}

/*Estilos de Header */

.header__item {

    a {
        position: relative;
        text-decoration: none;

        &::after, &::before {
            transition: all 0.5s;
        }
        
        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 0%;
            content: '.';
            color: transparent;
            background: $color-secundario;
            height: 3px;
        }
        
        &:hover {
            color: $color-secundario;
        }
        
        &:hover:after {
            width: 100%;
        }
    }
}

 /* Estilos del index  */

main {
    @include flexin(flex, column);
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Botones del Carousel */
.carousel {
    .carousel-indicators button {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 5px;
        border-radius: 100%;
    }
    .carousel-item {
        max-height: 630px;
    }
}

.carousel-control-next-icon, 
.carousel-control-prev-icon {
    width: 4rem;
    height: 4rem;
}

/* SECCION NOTICIAS DEL INDEX */

// Borde inferior blanco
.border-bottom-white {
    border-bottom: solid 1px $color-secundario;
}

// Agranda imagen de noticia al pasar mouse - panel noticias Index
.escalar-img {
    overflow: hidden;
    
    img {
        transform: scale(1);
        transition: 0.6s ease-in-out;
    }

    &:hover img {
        transform: scale(1.1);
    }
}


/* Contenedor de Foto y Noticia (pagina noticias)  */

/* Contenedor de Noticias */
.news-container {
    @include flexin(flex, column);
    align-content: center;
    justify-content: space-between;
    font-family:  $font-secundaria;
    gap: 15px;
    margin: 10px auto;
    padding: 16px;

    h1 {
        color: black;
        font-size: 2.5em;
        text-align: center;
        margin-bottom: 5px;
    }
}

.news-item {
    @include flexin(flex, row);
    align-items: center;
    gap: 20px;
    
    &__img {
        width: 50%;
        height: auto;

        /* MODIFICADOR imagen noticias del index (mas chicos) */
        &--portada {
            max-width: 300px;
        }
    }

    &__info {
        @include flexin(flex, column);
        align-items: center;
        font-size: 1.1em;
        width: 50%;
        
        p {
            text-align: justify;
        }

        &--portada {
            a {
                /* Efectos de link Noticias de Index */
                color: $color-secundario;
                background: linear-gradient(to right, currentColor 0%, currentColor 100%);
                background-size: 0px 2px;
                background-position: 0px 95%;
                transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
                background-repeat: no-repeat;
                padding: 0.1% 0px;
                text-decoration: none;

                &:hover {
                    background-size: 100% 2px;
                }
            }
            h2 {
                color: $color-secundario;
            }
            p {
                text-align: justify;
                font-family:  $font-secundaria;
            }
        }
        
    }
}
.titulares {
    font-weight: 600;
}

/* Sobre mi  */

// Contenedor columnas
.container-sobremi {
    @include flexin(flex, row);
    gap: 15px;
}

// Barra con foto
.biografia {
    @include flexin(flex, row);
    align-self: center;
    height: auto;
    background-color: $color-principal;
    transition: 2s;
    margin-top: 16px;

    &__img {
        @include flexin(flex, row);
        justify-content: center;
        height: auto;
        max-width: 420px;
        min-width: 40%;
        padding: 6px;
        background-color: $color-secundario;
        clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
    }

    &__texto {
        @include flexin(flex, column);
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    &__titulo {
        font-size: 3rem;
        color: #fff;
    }
    &__info {
        font-family: $font-secundaria;
        font-size: 1.6rem;
        color: $color-secundario;
    }
}

// Formato del texto y contenido de sección Sobre mi
.sobre-mi {
    height: auto;
    font-size: 2rem;
    padding: 12px;
    
    &__texto {
        color: $color-principal;
        text-align: justify;
        margin-bottom: 15px;
    }
}

// Iframe de Instragram - Sobre mi
.redes-box {
    @include flexin(flex, column);
    width: 100%;
    height: auto;
    margin: 15px 0;
    align-items: center;
}

/* Galeria de imagenes */

.titulo-galeria {   
    text-align: center;
    margin: 7px;
    }

/* Tarjetas contenedoras de galeria */

.card-galeria {
    border-radius: 5px;
    border: transparent 4px solid;
    &:hover {
        border: $color-principal 4px solid;
    }
}


/* Pagina de contacto  */

.contacto {
    width: 100%;
    @include flexin(flex, row);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

        
    /* Contenedor de imagen y formulario */
    &__contenedor { 
        @include flexin(flex, row);
        align-items: center;
        justify-content: space-between;
        border-radius: 25px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.40);
        position: relative;
        gap: 10px;
        margin: 30px;
        height: auto;

        img {
            width: 50%;
            height: 380px;
            border-radius: 25px;
        }
    }

    /* Caja de Formulario */
    &__box {
        @include flexin(flex, column);
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
        font-size: 1.5em;
    }
}


/* FOOTER */
footer {
    @include flexin(flex, row);
    align-items: center;
    justify-content: space-around;
    background-color: $color-principal;
    flex-wrap: wrap;

    .logo {
        width: 180px;
        height: 108px;
    }

    .footer {
        &__redes {
            width: 30px;
            height: 30px;
            margin: 10px 3px;
            filter: invert(100%);
        }
        &__derechos {
            color: white;
            font-size: 2em;
            margin: 0 15px;
        }
        &__link {
            text-decoration: none;
        }
    }
}

@import "mediaqueries";